/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/_office.json
/resources/views/front/pages/home/slider.blade.php
/resources/views/front/layout/bottom.blade.php
resources/views/theme1/includes/meta.blade.php
resources/views/front/pages/home/service.blade.php
resources/views/front/pages/home/about.blade.php
resources/views/front/pages/home/facts.blade.php
resources/views/front/pages/home/features.blade.php
resources/views/front/pages/home/notice.blade.php
resources/views/front/pages/home/board.blade.php

resources/views/front/pages/partials/service.blade.php
resources/views/front/pages/partials/about.blade.php
resources/views/front/pages/partials/team.blade.php
resources/views/front/pages/partials/faq.blade.php
resources/views/front/pages/partials/contact.blade.php
resources/views/front/layout/menu.blade.php
resources/views/front/includes/footeraddr.blade.php
resources/views/front/includes/footermap.blade.php
resources/views/front/layout/menu.blade.php
resources/views/front/pages/partials/galleries.blade.php
resources/views/front/includes/meta.blade.php
resources/views/front/includes/popups.blade.php
